---
import { ABOUT_BLOG } from '../consts';
---
<div class="bg-white px-[5%] py-3">
    <h2 class="uppercase mb-2">About this blog</h2>
    <hr class="border-0 bg-sky-400 h-1 w-12 mb-5"/>
    <div class="text-center border-2 border-gray-220 rounded-lg">
        <p class="px-[5%] py-3"> 
            { ABOUT_BLOG }
        </p>
        <div class="bg-gray-200 h-16 rounded-b-lg p-3 mt-5 text-center">
        </div>
    </div>
</div>
