---
import { ABOUT_ME, ME, LINKEDIN } from '../consts';
---
<div class="bg-white px-[5%] py-3">
    <h2 class="uppercase mb-2">About me</h2>
    <hr class="border-0 bg-sky-400 h-1 w-12 mb-5"/>
    <div class="text-center border-2 border-gray-220 rounded-lg">
        <img src="/me-small.jpg" class="rounded-full p-[10%]" alt="My profile image" />
        <p class="text-lg">{ ME }</p>
        <p class="px-[5%] py-3"> 
            { ABOUT_ME }
        </p>
        <a href="/about" class="link">Go to full profile</a>
        <div class="bg-gray-200 rounded-b-lg p-3 mt-5 text-center">
            <a href={LINKEDIN}>
                <img src="/in.png" alt="LinkedIn logo" class="w-1/5 inline" />
            </a>
        </div>
    </div>
</div>
